{% comment %} Customer registration. Depends on: snippet 'account-styles'. {% endcomment %}
{% render 'account-styles' %}
<section class='account'>
  <div class='container account__inner'>
    <h1 class='account__title'>Create account</h1>
    {%- form 'create_customer' -%}
      {%- if form.errors -%}
        <div class='account__errors'>{{ form.errors | default_errors }}</div>
      {%- endif -%}
      <div class='account__field'>
        <label for='reg-first'>First name</label>
        <input type='text' id='reg-first' name='customer[first_name]' autocomplete='given-name'>
      </div>
      <div class='account__field'>
        <label for='reg-last'>Last name</label>
        <input type='text' id='reg-last' name='customer[last_name]' autocomplete='family-name'>
      </div>
      <div class='account__field'>
        <label for='reg-email'>Email</label>
        <input type='email' id='reg-email' name='customer[email]' autocomplete='email' required>
      </div>
      <div class='account__field'>
        <label for='reg-password'>Password</label>
        <input type='password' id='reg-password' name='customer[password]' autocomplete='new-password' required>
      </div>
      <button type='submit' class='account__btn'>Create</button>
    {%- endform -%}
    <p class='account__note'>
      Already have an account?
      <a href='{{ routes.account_login_url }}' class='account__link'>Sign in</a>
    </p>
  </div>
</section>

{% schema %}
{ "name": "Register", "settings": [] }
{% endschema %}
