{% comment %} Customer addresses (list + add). Depends on: snippet 'account-styles'. {% endcomment %}
{% render 'account-styles' %}
<section class='account'>
  <div class='container account__inner account__inner--wide'>
    <h1 class='account__title'>Addresses</h1>
    <p><a href='{{ routes.account_url }}' class='account__link'>Back to account</a></p>

    {%- for address in customer.addresses -%}
      <div class='account__card'>
        {{ address | format_address }}
        {%- if address == customer.default_address -%}
          <p style='color:var(--color-muted)'>Default</p>
        {%- endif -%}
      </div>
    {%- endfor -%}

    <h2 class='account__subtitle' style='margin-top:24px'>Add a new address</h2>
    {%- form 'customer_address', customer.new_address -%}
      {%- if form.errors -%}
        <div class='account__errors'>{{ form.errors | default_errors }}</div>
      {%- endif -%}
      <div class='account__field'>
        <label for='addr-first'>First name</label>
        <input type='text' id='addr-first' name='address[first_name]' autocomplete='given-name'>
      </div>
      <div class='account__field'>
        <label for='addr-last'>Last name</label>
        <input type='text' id='addr-last' name='address[last_name]' autocomplete='family-name'>
      </div>
      <div class='account__field'>
        <label for='addr-address1'>Address</label>
        <input type='text' id='addr-address1' name='address[address1]' autocomplete='address-line1'>
      </div>
      <div class='account__field'>
        <label for='addr-city'>City</label>
        <input type='text' id='addr-city' name='address[city]' autocomplete='address-level2'>
      </div>
      <div class='account__field'>
        <label for='addr-zip'>ZIP / Postal code</label>
        <input type='text' id='addr-zip' name='address[zip]' autocomplete='postal-code'>
      </div>
      <div class='account__field'>
        <label for='addr-country'>Country</label>
        <input type='text' id='addr-country' name='address[country]' autocomplete='country-name'>
      </div>
      <button type='submit' class='account__btn'>Save address</button>
    {%- endform -%}
  </div>
</section>

{% schema %}
{ "name": "Addresses", "settings": [] }
{% endschema %}
