{% comment %} Customer login. Depends on: snippet 'account-styles'. {% endcomment %}
{% render 'account-styles' %}
<section class='account'>
  <div class='container account__inner'>
    <h1 class='account__title'>Sign in</h1>
    {%- form 'customer_login' -%}
      {%- if form.errors -%}
        <div class='account__errors'>{{ form.errors | default_errors }}</div>
      {%- endif -%}
      <div class='account__field'>
        <label for='login-email'>Email</label>
        <input type='email' id='login-email' name='customer[email]' autocomplete='email' required>
      </div>
      <div class='account__field'>
        <label for='login-password'>Password</label>
        <input type='password' id='login-password' name='customer[password]' autocomplete='current-password'>
      </div>
      <button type='submit' class='account__btn'>Sign in</button>
    {%- endform -%}

    <details class='account__note'>
      <summary class='account__link'>Forgot your password?</summary>
      {%- form 'recover_customer_password' -%}
        {%- if form.posted_successfully? -%}
          <p class='account__note'>We've sent you a reset email.</p>
        {%- endif -%}
        <div class='account__field' style='margin-top:12px'>
          <label for='recover-email'>Email</label>
          <input type='email' id='recover-email' name='email' autocomplete='email' required>
        </div>
        <button type='submit' class='account__btn'>Send reset link</button>
      {%- endform -%}
    </details>

    <p class='account__note'>
      New here?
      <a href='{{ routes.account_register_url }}' class='account__link'>Create an account</a>
    </p>
  </div>
</section>

{% schema %}
{ "name": "Login", "settings": [] }
{% endschema %}
