{% comment %} Reset password. Depends on: snippet 'account-styles'. {% endcomment %}
{% render 'account-styles' %}
<section class='account'>
  <div class='container account__inner'>
    <h1 class='account__title'>Reset password</h1>
    {%- form 'reset_customer_password' -%}
      {%- if form.errors -%}
        <div class='account__errors'>{{ form.errors | default_errors }}</div>
      {%- endif -%}
      <div class='account__field'>
        <label for='reset-password'>New password</label>
        <input type='password' id='reset-password' name='customer[password]' autocomplete='new-password' required>
      </div>
      <div class='account__field'>
        <label for='reset-confirm'>Confirm password</label>
        <input
          type='password'
          id='reset-confirm'
          name='customer[password_confirmation]'
          autocomplete='new-password'
          required
        >
      </div>
      <button type='submit' class='account__btn'>Reset password</button>
    {%- endform -%}
  </div>
</section>

{% schema %}
{ "name": "Reset password", "settings": [] }
{% endschema %}
